#cont1 {
  background-image: url("../img/backgrounds/h_img.jpg");
  text-align: center;
  width: 100%;
  background-size: cover;
  /* padding-right: 15px;
  padding-left: 15px;
  background-size: cover;
  background-repeat: no-repeat; */
  color: white;
  height: 110vh;

}
.head1  {
  font-size: xx-large;
  padding-top: 20vh;
}
.coll2  {
  background-image: url("../img/backgrounds/s_image.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 20vh;
}
.coll1  {
  /* background-image: url("../img/backgrounds/s_image.jpg"); */
  /* height: 100vh; */
  /* background-repeat: no-repeat; */
  text-align: center;
  color:black;
  background-color: white;
  height: 65vh;
  padding-top: 10vh;
}
.do1  {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 145px;
  text-align: center;
}
.do2  {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 145px;
  text-align: center;
}
.do3  {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 145px;
  text-align: center;
}
/* .r  {
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 150px;
  padding-top: 0px;
  position: relative;
  height: 10vh;
  align-items: center; 
  
}  */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#cont2  {
  background-image: url("../img/backgrounds/c_image.jpg");
  height: 100vh;
}