#cont1 {
  background-image: url("../img/backgrounds/h_img.jpg");
  text-align: center;
  width: 100%;
  background-size: cover;
  /* padding-right: 15px;
  padding-left: 15px;
  background-size: cover;
  background-repeat: no-repeat; */
  color: white;
  height: 110vh;

}
.hed1  {
  font-size: xx-large;
  padding-top: 2.5vh;
}
/* .coll2  {
  background-image: url("../img/backgrounds/s_image.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding-top: 20vh;
  background-size: cover;
  width: 100%;
} */
#cont3  {
  background-image: url("../img/backgrounds/s_image.jpg");
  height: 100vh;
  /* background-repeat: no-repeat; */
  text-align: center;
  color: white;
  padding-top: 30vh;
  background-size: cover;
  /* width: 100%; */
  /* padding-top: 30vh; */
}
.coll1  {
  /* background-image: url("../img/backgrounds/s_image.jpg"); */
  /* height: 100vh; */
  /* background-repeat: no-repeat; */
  text-align: center;
  color:black;
  background-color: white;
  height: 65vh;
  padding-top: 10vh;
}
.do1  {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 145px;
  text-align: center;
}
.do2  {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 145px;
  text-align: center;
}
.do3  {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 145px;
  text-align: center;
}
/* .r  {
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 150px;
  padding-top: 0px;
  position: relative;
  height: 10vh;
  align-items: center; 
  
}  */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#cont2  {
  background-image: url("../img/backgrounds/c_image.jpg");
  height: 100vh;
}
.hed2  {
  text-align: center;
}
.container3  {
  padding-top: 5vh;
}
.im  {
padding: 5px;
/* padding-right: 5px;
padding-left: 5px; */
}
.vard  {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid  {
  /* width: 100%;
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto; */
}
.col-md-12  {
  padding-right: 0;
  padding-left: 0;
}
.col-md-3  {
  padding-right: 0;
  padding-left: 0;
}
.container5  {
  text-align: center;
  padding-top: 20vh;
}
.input  {
  /* opacity: 20%; */
  padding-top: 10vh;
}
#d  {
padding-top: 35vh;
}
#mouse  {
  padding-top: 22vh;
}
.card1  {
width: fit-content;
align-items: center;
height: fit-content;
padding-left: 0;
padding-right: 0;
}
.hed2 {
  text-align: center;
}
.container6  {
  width: 100vh;
  /* height: 100vh; */
  padding-bottom: 10vh;
}
.container7  {
  padding-top: 10vh;

}
#name  {
  padding-right: 10vh;
}
#email  {
  padding-right: 10vh;
}
#feedback  {
  width: 100vh;
  padding-bottom: 20vh;
  
}
.spacer1  {
padding-bottom: 10vh;
}
#butt  {
  /* padding-top: 10vh; */
}
.last  {

}
.im2  {
  padding-left: 20px;
}